
.UserPosts {
  display: flex;

}

.Users {
  width: 50%;
  background: greenyellow;
  text-align: center;
}

.Posts {
  width: 50%;
  background: blue;
}

.Comments {
  width: 100%;
  background:purple;
}