.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(purple, lightblue, lightcoral);
}

.cats {
  padding: 10px;
  border: 5px solid purple;
  width: 45%;
}

.dogs {
  padding: 10px;
  width: 45%;
  border: 5px solid purple;
}

.pets {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.inputs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}